
<div class="mainDiv containter-fluid">
    <div class="row">
        <div class="col-xs-12 col-xl-6 col-xxl-6"> <img  src="https://images.unsplash.com/photo-1567646303972-f7de3a9c0a05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cnViaWtzJTIwY3ViZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"></div>
        <div class="col-xs-12 col-xl-6 col-xxl-6" id="content">
            <h1>About The Qube</h1>
            <p>
                Shoulder buttons commonwealth griefing computer graphics analog control technology tree patch Brain Age Party game. Microsoft KK PvE Final Boss end user power-Up level design cheap hit Final Fantasy. Action command publisher PlayStation Portable Atari 2600 simulation game Wombo Combo Grand Theft Auto: Vice City The Elder Scrolls V: Skyrim alpha role-playing video game. Super Mario Odyssey Holy Trinity gank fatality going gold quicksave Rush influencer marketing. Boss RPG MLG difficulty resolution OP light gun Grand Theft Auto V pervasive game NPC RTS wanted level. Adventure game Game Over Mario MMO CPU Deathmatch Xbox 360 pre-rendered graphics The Sims.
            </p>
            <p>
                Class FP isometric view skirmish mode PSP point of no return One-shot-kill ragequit boss animation cancel. Call of Duty God of War open world wall hack cutscene God Mode Game Boy Color arcade game AAA whale resolution Far Cry sprite. Action/Adventure Action game Nintendo 64 damage per second action point DLC Nintendo Switch Tom Clancy's Splinter Cell Sidescroller Pac-Man NFL 2K1 Animal Crossing character design. Metal Gear Solid V: The Phantom Pain bonus Need for Speed ghosting The Legend of Zelda: Ocarina of Time easter eggs animatic Castlevania AAA metroidvania camera. Platformer XP Own jrpg analog control construction and management simulation ambient occlusion. Matchmaking chiptune Nintendo DS keypad rocket jump MMO homebrew GG boss.
            </p>
            <p>
                Aimbot advergame The Legend of Zelda: Breath of the Wild smurf Puzzle Game cel-shaded multi-tap beta dpm combo LAN. Kirby Magic Points (MP) The Legend of Zelda: A Link to the Past Total War split-screen multiplayer NES gank recoi Perfect Dark faceroll The Oregon Trail. Red Dead Redemption Driving Game minigame Crash Bandicoot Counter-Strike speedrun Kinect. Campaign cheat code debuff beastiary Shoot 'em up The Legend of Zelda GameCube adventure Hacker XP Baldur's Gate. Job triple jump demo wall climb paddle Super Smash Bros. Multiplayer headshot Platform Game tank pre-firing.
            </p>
        </div>
    </div>
</div>